In [1]:
import pandas as py

In [2]:
df=py.read_csv("comedy.csv",sep=',')

In [3]:
df

,angry,disgust,fear,happy,sad,surprise,neutral,total,enjoyed
0,0.000540,0.0,0.001080,0.508099,0.000540,0.000000,0.489741,1750,1
1,0.017011,0.0,0.000460,0.364598,0.005057,0.000000,0.612874,2175,1
2,0.043621,0.0,0.001091,0.565976,0.024718,0.000000,0.364595,2751,1
3,0.039853,0.0,0.000613,0.009810,0.304721,0.000000,0.645003,1631,0
4,0.016008,0.0,0.015492,0.027369,0.034599,0.000000,0.906532,3873,0
5,0.017026,0.0,0.006651,0.320298,0.035382,0.000000,0.620644,3759,0
6,0.020944,0.0,0.011254,0.549859,0.021569,0.000000,0.396374,3199,1
7,0.041778,0.0,0.035646,0.409352,0.085473,0.000000,0.427750,2609,1
8,0.131829,0.0,0.015835,0.531671,0.041172,0.000000,0.279493,2526,1
9,0.016685,0.0,0.000000,0.045606,0.032258,0.000000,0.905451,899,0
10,0.054252,0.0,0.029326,0.475073,0.023460,0.000000,0.417889,1364,1
11,0.006194,0.0,0.001376,0.268410,0.009635,0.000688,0.713696,1453,0
12,0.014001,0.0,0.028003,0.484156,0.031688,0.000000,0.442152,1357,1
13,0.012281,0.0,0.001754,0.240351,0.063158,0.000000,0.682456,570,0
14,0.001245,0.0,0.000000,0.307597,0.000623,0.000000,0.690535,1606,0
15,0.020973,0.0,0.038591,0.686242,0.023490,0.000000,0.230705,1192,1
16,0.001219,0.0,0.000609,0.381475,0.055454,0.000000,0.561243,1641,1
17,0.011658,0.0,0.000000,0.573834,0.007772,0.000000,0.406736,772,1
18,0.000000,0.0,0.000000,0.569737,0.000000,0.000000,0.430263,760,0
19,0.001990,0.0,0.000000,0.710448,0.002985,0.000000,0.284577,1005,1
20,0.071006,0.0,0.001183,0.501775,0.000000,0.000000,0.426036,845,0
21,0.003515,0.0,0.277680,0.066784,0.119508,0.000000,0.532513,569,0
22,0.000000,0.0,0.000000,0.346361,0.024259,0.000000,0.629380,742,1
23,0.000000,0.0,0.035599,0.331176,0.059331,0.000000,0.573894,927,1
24,0.007860,0.0,0.146725,0.186026,0.115284,0.011354,0.532751,1145,0
25,0.028221,0.0,0.009202,0.110429,0.033742,0.000000,0.818405,1630,0
26,0.000000,0.0,0.036022,0.341425,0.025842,0.000000,0.596711,1277,1
27,0.002161,0.0,0.033141,0.064841,0.006484,0.000000,0.893372,1388,0
28,0.001698,0.0,0.010187,0.139219,0.003396,0.000000,0.845501,589,0
29,0.000000,0.0,0.001593,0.089219,0.009028,0.000000,0.900159,1883,0
30,0.003388,0.0,0.118564,0.444444,0.047425,0.000000,0.386179,1476,1
31,0.050633,0.0,0.255466,0.510932,0.077100,0.004603,0.101266,869,1
32,0.005171,0.0,0.139607,0.248190,0.038263,0.002068,0.566701,967,0
33,0.003388,0.0,0.056233,0.331978,0.044038,0.000678,0.563686,1476,1
34,0.000755,0.0,0.273414,0.254532,0.101208,0.048338,0.321752,1324,1
35,0.000582,0.0,0.193943,0.322073,0.154339,0.118812,0.210250,1717,1
36,0.000000,0.0,0.104369,0.364078,0.101942,0.304612,0.125000,824,1
37,0.000705,0.0,0.052854,0.484144,0.301621,0.026779,0.133897,1419,1
38,0.000000,0.0,0.177419,0.311290,0.176613,0.143548,0.191129,1240,1
39,0.000792,0.0,0.003167,0.053840,0.414885,0.003167,0.524149,1263,0
40,0.000779,0.0,0.214174,0.054517,0.232087,0.007788,0.490654,1284,0

In [5]:
x=df.loc[:, "angry":"neutral"]

In [6]:
x

       angry  disgust      fear     happy       sad  surprise   neutral
0   0.000540      0.0  0.001080  0.508099  0.000540  0.000000  0.489741
1   0.017011      0.0  0.000460  0.364598  0.005057  0.000000  0.612874
2   0.043621      0.0  0.001091  0.565976  0.024718  0.000000  0.364595
3   0.039853      0.0  0.000613  0.009810  0.304721  0.000000  0.645003
4   0.016008      0.0  0.015492  0.027369  0.034599  0.000000  0.906532
5   0.017026      0.0  0.006651  0.320298  0.035382  0.000000  0.620644
6   0.020944      0.0  0.011254  0.549859  0.021569  0.000000  0.396374
7   0.041778      0.0  0.035646  0.409352  0.085473  0.000000  0.427750
8   0.131829      0.0  0.015835  0.531671  0.041172  0.000000  0.279493
9   0.016685      0.0  0.000000  0.045606  0.032258  0.000000  0.905451
10  0.054252      0.0  0.029326  0.475073  0.023460  0.000000  0.417889
11  0.006194      0.0  0.001376  0.268410  0.009635  0.000688  0.713696
12  0.014001      0.0  0.028003  0.484156  0.031688  0.000000  0.442152
13  0.012281      0.0  0.001754  0.240351  0.063158  0.000000  0.682456
14  0.001245      0.0  0.000000  0.307597  0.000623  0.000000  0.690535
15  0.020973      0.0  0.038591  0.686242  0.023490  0.000000  0.230705
16  0.001219      0.0  0.000609  0.381475  0.055454  0.000000  0.561243
17  0.011658      0.0  0.000000  0.573834  0.007772  0.000000  0.406736
18  0.000000      0.0  0.000000  0.569737  0.000000  0.000000  0.430263
19  0.001990      0.0  0.000000  0.710448  0.002985  0.000000  0.284577
20  0.071006      0.0  0.001183  0.501775  0.000000  0.000000  0.426036
21  0.003515      0.0  0.277680  0.066784  0.119508  0.000000  0.532513
22  0.000000      0.0  0.000000  0.346361  0.024259  0.000000  0.629380
23  0.000000      0.0  0.035599  0.331176  0.059331  0.000000  0.573894
24  0.007860      0.0  0.146725  0.186026  0.115284  0.011354  0.532751
25  0.028221      0.0  0.009202  0.110429  0.033742  0.000000  0.818405
26  0.000000      0.0  0.036022  0.341425  0.025842  0.000000  0.596711
27  0.002161      0.0  0.033141  0.064841  0.006484  0.000000  0.893372
28  0.001698      0.0  0.010187  0.139219  0.003396  0.000000  0.845501
29  0.000000      0.0  0.001593  0.089219  0.009028  0.000000  0.900159
30  0.003388      0.0  0.118564  0.444444  0.047425  0.000000  0.386179
31  0.050633      0.0  0.255466  0.510932  0.077100  0.004603  0.101266
32  0.005171      0.0  0.139607  0.248190  0.038263  0.002068  0.566701
33  0.003388      0.0  0.056233  0.331978  0.044038  0.000678  0.563686
34  0.000755      0.0  0.273414  0.254532  0.101208  0.048338  0.321752
35  0.000582      0.0  0.193943  0.322073  0.154339  0.118812  0.210250
36  0.000000      0.0  0.104369  0.364078  0.101942  0.304612  0.125000
37  0.000705      0.0  0.052854  0.484144  0.301621  0.026779  0.133897
38  0.000000      0.0  0.177419  0.311290  0.176613  0.143548  0.191129
39  0.000792      0.0  0.003167  0.053840  0.414885  0.003167  0.524149
40  0.000779      0.0  0.214174  0.054517  0.232087  0.007788  0.490654

In [8]:
y=df.loc[:, "enjoyed":]

In [9]:
y

    enjoyed
0         1
1         1
2         1
3         0
4         0
5         0
6         1
7         1
8         1
9         0
10        1
11        0
12        1
13        0
14        0
15        1
16        1
17        1
18        0
19        1
20        0
21        0
22        1
23        1
24        0
25        0
26        1
27        0
28        0
29        0
30        1
31        1
32        0
33        1
34        1
35        1
36        1
37        1
38        1
39        0
40        0

In [10]:
import numpy as np

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=20)

In [16]:
y_train.shape

(32, 1)

In [17]:
from sklearn.ensemble import AdaBoostClassifier

In [18]:
clf=AdaBoostClassifier(random_state=16)

In [19]:
clf.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=16)

In [21]:
clf.score(x_train ,y_train)

1.0

In [23]:
clf.score(x_test, y_test)

1.0

In [28]:
import cv2
from deepface import DeepFace

faceCascade=cv2.CascadeClassifier(cv2.data.haarcascades + 'haarcascade_frontalface_default.xml')

cap= cv2.VideoCapture(-1)
if not cap.isOpened():
    cap=cv2.VideoCapture(0)
if not cap.isOpened():
    raise IOError("Cannot open webcam")

angry=0
disgust=0
fear=0
happy=0
sad=0
surprise=0
neutral=0
total=0

while True:
    ret,frame=cap.read()
    result=DeepFace.analyze(frame, actions=["emotion"],enforce_detection=False)
    
    gray=cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
    
    faces=faceCascade.detectMultiScale(gray,1.1,4)
    
    for(x,y,w,h) in faces:
        cv2.rectangle(frame,(x,y),(x+w, y+h),(0,255,0),2)
        
    font=cv2.FONT_HERSHEY_SIMPLEX
    cv2.putText(frame,
            result["dominant_emotion"],
            (50,100),
            font, 3,
            (0,0,255),
            2,
            cv2.LINE_4
           )
    if(result["dominant_emotion"]=="angry"):
        angry=angry+1;
    elif(result["dominant_emotion"]=="disgust"):
        disgust=disgust+1;
    elif(result["dominant_emotion"]=="fear"):
        fear=fear+1;
    elif(result["dominant_emotion"]=="happy"):
        happy=happy+1;
    elif(result["dominant_emotion"]=="sad"):
        sad=sad+1;
    elif(result["dominant_emotion"]=="surprise"):
        surprise=surprise+1;
    elif(result["dominant_emotion"]=="neutral"):
        neutral=neutral+1;
    total=total+1
    if not ret:
        break
    cv2.imshow('asd', frame)
    cv2.waitKey(1)
    if cv2.getWindowProperty('asd', 4) < 1:
        break
cap.release()
cv2.destroyAllWindows()
ratios = [angry/total,disgust/total,fear/total,happy/total,sad/total,surprise/total,neutral/total,total]
other_arr = other_str.split(',')
types_arr=['action','comedy','drama','horror','romance']
types_num_arr=[0,1,0,0,0]
for i in range(len(types_arr)):
    for j in range(len(other_arr)):
        if(types_arr[i]==other_arr[j]):
            types_num_arr[i]=1
            break
            
ratios_plus_types=[angry/total,disgust/total,fear/total,happy/total,sad/total,surprise/total,neutral/total]
for i in range(len(types_num_arr)):
    ratios_plus_types.append(types_num_arr[i])
                   
ratios_plus_types.append(total)
ratios_plus_types.append(enj)
ratios.append(enj)   
ratios.pop()
ratios.pop()

temp=[ratios]
yhat = clf.predict(temp)
if(yhat[0]==1):
    print('Prediction: You enjoyed the movie')
else:
    print('Prediction: You did not enjoy the movie')

If you enjoyed the video, input 1, else type 0 :0
If you would like to add in other types \(Such as
 action,comedy,drama,horror,romance \) then
 input them seperated with a "," :
Prediction: You enjoyed the movie

In [27]:
temp=[[0.0005824111822947001,0.0,0.19394292370413513,0.3220733838089691,0.15433896330809552,0.1188118811881188,0.21025043680838673]]
yhat = clf.predict(temp)
if(yhat[0]==1):
    print('Prediction: You enjoyed the movie')
else:
    print('Prediction: You did not enjoy the movie')

Prediction: You enjoyed the movie